main{
    height: 90vh;
}

#titleContact{
    text-align: start;
    font-family: '__Chakra_Petch_cf6273';
    font-size: 2.5em;
    margin-top: 30px;
    margin-left: 24px;
    padding-left: 8px;
     font-family: '__Chakra_Petch_cf6273';
}
#titleContact::after{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #1ed78a80;
    border-radius: 50%;
    margin-right: 10px;
}
#titleContact::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 45px;
    background-color: #1ed78a80;
    border-radius: 2%;
    margin-left: -7px;
    margin-top: 7px;
}

#containerContact{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#formContact{
    width: 77%;
    max-width: 700px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgb(19, 19, 19);
    margin-left: -50px;
    border-radius: 3px;
    padding: 4px 9px;
    padding-top: 20px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.light #formContact{
    background-color: rgb(237, 237, 237);

}
#containerSubmit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 6px 20px;
    height: 80px;
    border-radius: 3px;
}

#containerSubmit button{
    width: 50%;
    background: green;
    font-family: '__Chakra_Petch_cf6273';
    padding: 4px;
    font-size: 1.1em;
    border-radius: 4px;
}
.light #containerSubmit button{
    background: #18b025;
}
#containerSubmit button:hover{
    transform: scale(1.01);
    font-size: 1.19em;
}
#message{
    width: 100%;
    height: 100px;
    min-height: 80px;
    padding: 4px 9px;
    border-radius: 3px;
    background-color: #232323;
    outline: none;
}
#message:focus, #formContact input:focus{
    border: 1px solid #18b02540;
}
#message:hover, #formContact input:hover{
    border: 1px solid #59ee495b;
}
#formContact label{
    /* font-family: '__Chakra_Petch_cf6273'; */
    font-size: 1em;
    color: #ffffff94;
    margin-top: 4px;
}

.light #formContact label,.light #formContact textarea{
    color: #5c5c5c;
}
#formContact input{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    padding: 4px 9px;
    margin-top: 4px;
    outline: none;
    background: #232323
}
.light #formContact input, .light #message{
    background: white;
}
#rk_contact {
    position: absolute;
    animation: fly 20s infinite ease-in-out, scaleUpDown 20s infinite ease-in-out;
}

@keyframes fly {
    0% {
        left: -140px;
        top: 50%;

    }
    15% {
        left: 25%;
        top: 25%;
    }
    50% {
        left: 50%;
        top: 10%;
    }
    85% {
        left: 40%;
        top: -20%;
        
    }
    100% {
        left: 0%;
        top: -20%;
    }
}

@keyframes scaleUpDown {
    0%, 100% {
        transform: rotate(90deg) scale(1) ;
        /* transform: ; */
    }
    50% {
        transform: scale(1.5) rotate(340deg);
    }
}





















@media screen and (max-width:770px){
    #titleContact {
        font-size: 2.3em;
        margin-left: 15px;
    }
    #titleContact::before {
        width: 5px;
        height: 40px;
    }
    #containerContact {
        margin-top: 10px;
    }
}
@media screen and (max-width:600px){
    #titleContact::before {
        width: 5px;
        height: 32px;
    }
    #titleContact {
        font-size: 1.8em;
        margin-left: 15px;
    }
    #formContact{
        width: 90%;
        margin-left: 0px;
        height: 350px;
    }
    #containerContact {
        margin-top: 10px;
    }
    #formContact input {
        height: 63px;
        width: 100%;
    }
    
}
@media screen and (max-width:400px){
    #titleContact::before {
        width: 5px;
        height: 23px;
    }
    #titleContact {
        font-size: 1.5em;
        margin-left: 15px;
    }
    #formContact{
        width: 90%;
        margin-left: 0px;   
      
    }
    #containerContact {
        margin-top: 1px;
    }
  
    
}