

@keyframes float1 {
    0% {
      transform: translateX(100vw) translateY(80vh) rotate(266deg);
      opacity: 1; /* Começa visível */
    }
    10% {
      transform: translateX(50vw) translateY(10vh) rotate(240deg);
    }
    40% {
      transform: translateX(-40vw) translateY(-35vh) rotate(262deg);
      opacity: 1; /* Fica visível até o final */
    }
    50%{
      transform: translateX(10vw) translateY(-55vh)   rotate(154deg);
    }
    70%{
      
      transform: translateX(0vw) translateY(75vh)   rotate(156deg);
     
    }
    75%{

      transform: translateX(-70vw) translateY(75vh)   rotate(38deg);
     
    }
    100%{
      transform: translateX(70vw) translateY(-30vh)   rotate(38deg);
    }
  }
  

  
  
  
.containerContact {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
}
.dark .containerContact {
  background-color: rgb(9, 9, 11);
}
.light .containerContact, .light .contactInfo{
  /* background-color: white; */
  background: linear-gradient(to right, white 80%, rgb(32, 147, 239) 20%);
  color: #1f1f1f;
}
.dark.containerContact, .dark .contactInfo{
  background-color: transparent;
  color: #fefefe;
}
.contactInfo {
  width: 100%;
  margin: 10px 0;
  padding-left: 20px;
}

.contactInfo h3 {
  padding-left: 10px;
  font-weight: 500;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}
#subtd::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  background-color: #8f5aeb;
  margin-left: -10px;
  margin-top: 4px;
}
.light #subtd::before {
  background-color: #2d9cf1;
}
.contactItem {
  margin-bottom: 15px;
}

.contactItem label {
  display: block;
  margin-bottom: 5px;
  padding-left: 13px;
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
}

.contactItem span {
  display: inline-block;
  margin-right: 10px;
  margin-left: 15px;
  padding: 6px 24px;
  border-radius: 11px;
  font-size: 1.3em;
  background: #1f1f1f;
  color: #a0a0a0;
  font-family: monospace;
  width: 207px;
}
.light .contactItem span {
  display: inline-block;
  margin-right: 10px;
  margin-left: 15px;
  padding: 6px 24px;
  border-radius: 6px;
  font-size: 1.3em;
  border: 1px solid #a8a5a5;
  background: #ffffff;
  color: #747474;
  font-family: monospace;
  width: 209px;
}
.copyButton {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
}

.copyButton:hover {
  background-color: #0056b3;
}

.imageContainer {
  width: 50%;
  position: absolute;
  height: 50vh;
  width: 50%;
  margin-right: 0;
  right: 0;
}

.imageContainer img {
  width: 200px;
  height: auto;
}


#fgg {
  position: absolute;
  transform: rotate(266deg);  
  animation: float1 15s ease-in-out infinite;

}

#img-autor{
  border-radius: 30%;
  border: 3px solid white;
  margin: 11px;
  width: 80px;
  height: 80px;
}
.light #img-autor {
  border: 3px solid #4db0ff;
}
#coImgNaIa{
  align-items: center;
  font-family: monospace;
  border-bottom: 1px solid #909090;
  margin-bottom: 10px;
  width: 90%;
}
#coImgNaIa h3{
  font-size: 1.9em;
  padding: 0;
  
}
#coImgNaIa span{
  font-size: 1.5em;
  color: #a0a0a0;
}
.light #coImgNaIa h3{
  color: #515151;
  
}
@media screen and (min-widht:780px){

}
@media screen and (max-width:785px) {

  .contactInfo h3 {
    padding-left: 10px;
    font-size: 1.8em;
}
#subtd::before {
  height: 33px;
}
  #img-autor{
    border-radius: 30%;
    border: 3px solid white;
    margin: 11px;
    width: 75px;
    height: 75px;
  }
  #coImgNaIa h3{
    font-size: 1.6em;
    padding: 0;
    
  }
  #coImgNaIa span{
    font-size: 1.4em;
    color: #a0a0a0;
  }
}  .light .containerContact, .light .contactInfo {
  background: white;
}
@media screen and (max-width:600px) {
  .contactInfo {
    width: 100%;
    margin: 10px 0;
    padding-left: 8px;
  }
  .light .contactItem span,.dark .contactItem span {
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 1.2em;
    width: 188px;
}
#coImgNaIa {

  width: 100%;
}
}
@media screen and (max-width:480px) {
  .contactInfo {
    width: 100%;
    margin: 7px 0;
    padding-left: 4px;
  }
  .contactInfo h3 {
    padding-left: 5px;
    font-size: 1.6em;
}
#subtd::before {
  height: 33px;
}
  #img-autor{
    border-radius: 30%;
    border: 3px solid white;
    margin: 11px;
    width: 70px;
    height: 70px;
  }
  #coImgNaIa h3{
    font-size: 1.3em;
    padding: 0;
    
  }
  #coImgNaIa span{
    font-size: 1.2em;
    color: #a0a0a0;
  }
  .contactInfo {
    padding-left: 14px;
}
}
@media screen and (max-width:340px) {
  .contactInfo h3 {
    padding-left: 10px;
    font-size: 1.6em;
}
#subtd::before {
  height: 33px;
}
  #img-autor{
    border-radius: 30%;
    border: 3px solid white;
    margin: 11px;
    width: 60px;
    height: 60px;
  }
  #coImgNaIa h3{
    font-size: 1.1em;
    padding: 0;
    
  }
  #coImgNaIa span{
    font-size: 1em;
    color: #a0a0a0;
  }
  .contactInfo {
    padding-left: 5px;
}
.contactItem span {
  margin-left: 15px;
  padding: 6px 10px;
  border-radius: 11px;
  font-size: 1.2em;
  width: 180px;
}
.copyButton {
  padding: 5px 7px;
  font-size: 12px;
}
}