#container-opt-p {
    display: flex;
    width: 90%;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-left: 40px;
}
.option-wrap {
    padding: 1px;
    border-radius: .25rem;
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
    width: 30%;
    max-width: 240px;
    background-color: #5ef49a;
}

.option-content {
    width: 100%;
    height: 50px;
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    clip-path: inherit; /* Herda o clip-path do pai */
    height: auto;
    padding: 10px 20px 10px 20px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg, #1c1c1c, #0e0e10);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 5%;
    text-align: center;
    position: relative;
}

.option-wrap:hover {
    cursor: pointer;
    transform: translateY(-15px);
    transition: 0.2s ease;
    background-color: #0af468;
}
 #sbt{
    font-size: 2em;
    padding-left: 34px;
    padding-top: 34px;
 }
 #sbt::before {
    content: '';
    height: 43px;
    width: 7px;
    position: absolute;
    background-color: #69f47a;
    margin-left: -11px;
}
.light #sbt{
    color: #000;
}
.option-content .area{
    font-size: 2em;
    text-align: center;
    height: 100%;
    display: flex;
    letter-spacing: 3px;
    line-height: 1.4;
    font-weight: 800;
    color: #d1eaff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 3;
}
.total_pr{
    font-size: 1.5em;
    padding-left: 11px;
    color: #d2d2d2;
}
.svg-front,.svg-full,.svg-back{
    width: 40px;
    height: 40px;
    fill: #d1eaff;
    margin-top: -6px;
}
#t-sbt-s{
    display: none;
}
@media screen and (max-width:1120px) {
    .container-opt{
        height: 400px;
    }
    #container-opt-p {
        width: 95%;
        gap: 8%;
        /* padding-left: 27px; */
        flex-wrap: wrap ;
        row-gap: 30px;
        margin-top: 25px;
        justify-content: start;
 
    }
    .option-wrap {
        width: 44%;
    }
}
@media screen and (max-width:950px) {
    .option-content .area {
        font-size: 1.7em;
        letter-spacing: 4px;
    }
    .total_pr {
        font-size: 1.5em;
    }
}
@media screen and (max-width:800px) {
    .total_pr {
        font-size: 1.4em;
    }
    .container-opt{
        height: 374px;
    }
    #container-opt-p {
        width: 95%;
        gap: 8%;
        /* padding-left: 27px; */
        flex-wrap: wrap ;
        row-gap: 20px;
        margin-top: 25px;
 
    }
    .option-wrap {
        width: 44%;
    }
}

@media screen and (max-width:750px) {
    #container-opt-p {
        width: 100%;
        gap: 3%;
        padding-left: 27px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 27px;
        column-gap: 9%;
        justify-content: start;
        height: 300px;

    }

    .container-opt {
        width: 100%;
        height: 409px !important;
    }
}
@media screen and (max-width:600px) {
    #sbt {
        padding-left: 28px;
        font-size: 1.7em;
    }
    #sbt::before {
        content: '';
        height: 36px;
        width: 6px;
        position: absolute;
        background-color: #69f47a;
        margin-left: -11px;
    }
    #container-opt-p {
        column-gap: 6%;
        margin-top: 0px;
    }
    .option-content div{
        justify-content: start;
    }
    .option-content .area {
        margin-left: 10px;
    }
    .total_pr {
        padding-left: 3px;
    }
    .total_pr {
        font-size: 1.3em;
    }
    .container-opt {
        height: 376px !important;
    }
}
@media screen and (max-width:520px){
    #sbt {
        padding-left: 28px;
        font-size: 1.5em;
    }
    #sbt::before {  
        height: 31px;
        width: 6px;
        margin-left: -9px;
    }
    .option-content .area {
        font-size: 1.3em;
        letter-spacing: 3px;
    }
    .svg-front, .svg-full, .svg-back {
        width: 30px;
        height: 31px;
        fill: #d1eaff;
        margin-top: -6px;
    }
    .tt{
        display: none;
    }
    .dgd{
        margin-bottom: 8px;
    }
}
@media screen and (max-width:425px){
    #t-sbt-s{
        display: block;
    }
    #t-sbt-g{
        display: none;
    }
    #sbt {
        padding-left: 27px;
        font-size: 1.5em;
    }
    .option-content .area {
        font-size: 1.2em;
        letter-spacing: 3px;
    }
    .svg-front, .svg-full, .svg-back {
        width: 30px;
        height: 31px;
        fill: #d1eaff;
        margin-top: -6px;
    }

    #sbt::before {
       margin-top: 2px;
    }
    .option-content {
        padding: 10px 10px 10px 10px;
    }
    #container-opt-p {
        width: 100%;
        gap: 3%;
        padding-left: 18px;
    }
    .total_pr {
        font-size: 1.2em;
    }
}
@media screen and (max-width:375px){
    /* #sbt {
        padding-left: 17px;
        font-size: 1.2em;
    } */
    .option-content .area {
        font-size: 1.1em;
        letter-spacing: 3px;
    }
    .svg-front, .svg-full, .svg-back {
        width: 30px;
        min-width: 30px;
        height: 31px;
        fill: #d1eaff;
        margin-top: -6px;
    }

    #container-opt-p {
        height: 273px;
        padding-top: 31px;
    }
    .option-content {
       
        padding: 6px;
    }

}
@media screen and (max-width:340px){
    .container-opt {
        height: 521px !important;
    }
    .option-wrap {
        width: 90%;
    }
    .option-content .area {
        font-size: 1.3em;
        letter-spacing: 4px;
    }
    #container-opt-p {
        width: 100%;
        gap: 9%;
        padding-left: 24px;
    }
  
    .dgd{
        margin-bottom: 6px;
    }
}