@tailwind base;
@tailwind components;
@tailwind utilities;
;
* {
  box-sizing: border-box;
}

.light{
  background-color: #0864b4;
}
body {
  color: white;
  overflow-x: hidden !important;
  width: 100vw !important;
  max-width: 100vw !important;
  position: relative;
}
.light .root{
  background: #0864b4;
  overflow-x: hidden;
}
.dark .root{
background: rgb(9, 9, 11);

}
/* Para navegadores Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
  background: #1c1c1c; /* Cor do fundo da track */
}

::-webkit-scrollbar-thumb {
  background-color: #303030; /* Cor da thumb (o "polegar" que você arrasta) */
  border-radius: 20px; /* Bordas arredondadas da thumb */
  border: 3px solid #1c1c1c; /* Espaço ao redor da thumb */
}

/* Para navegadores Firefox */
* {
  scrollbar-width: thin; /* Largura fina da scrollbar */
  scrollbar-color: #303030 #1c1c1c00; /* Cor da thumb e da track */
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
