


.root::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 20px;
  background: rgb(9, 9, 11);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.root > header{
  /* position: relative; */
  /* overflow-x: hidden; */
  z-index: 2;
}
.main{
  z-index: 2;
}


  



.dark .root > header {
  background-color: transparent;
}
.light .root > header {
  background-color: #0864b400;
}
.root > header > div > nav > li{
  position: relative;
  transition: 0.4s ease-in-out;
}

@keyframes shootingStar1 {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-69em) translateY(0);
    opacity: 1;
    background: linear-gradient(90deg, #f5f5f5, transparent);
  }
  
  70% {
    transform: translateX(-73em) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}
@keyframes shootingStar3 {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-69em) translateY(0);
    opacity: 1;
  }
  60%{
    
    background: linear-gradient(90deg, #7b4ef8, transparent);
  }
  70% {
    transform: translateX(-73em) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}
@keyframes shootingStar2 {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-65em) translateY(0);
    opacity: 1;
    background: linear-gradient(90deg, #590ca5, transparent);
  }
  70% {
    transform: translateX(-73em) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}


@keyframes glowing-stars {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes typeAndDelete {
    0%, 10% {
      width: 0;
    }
    45%, 70% {
      width: 100%;
    }
    90%, 100% {
      width: 0;
    }
  }
  
  @keyframes blinkCursor {
    60% {
      border-right-color: transparent;
    }
  }
  
  .typing-container {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.1em solid rgb(199, 208, 233); 
    animation: typeAndDelete 5.6s steps(50) infinite, blinkCursor 1s step-end infinite;
    display: inline-block;
    font-family: monospace;
    
  }
  
.card{
  transition: 1s ease;
}
  .dark .card {

    --bg-color: #21212100;
    background-color: var(--bg-color);
    padding: 1rem 0rem;
    border-radius: 1.25rem;
  }
  .light .card {
    --bg-color: #21212100;
    background-color: var(--bg-color);
    padding: 1rem 0rem;
    border-radius: 1.25rem;
}
  .loader {
    color: rgb(207, 207, 207);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 19px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
  }
  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%
    );
    z-index: 20;
    width: auto;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    width: auto;
    color: #6afa9c;
    animation: spin_4991 10s  ease-in-out infinite;
  }
  
  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }

  .dark .inf-name{
    color:rgb(24, 162, 75);
   }
   .light .inf-name{
    color: rgb(62 214 118);
   }
   
  .inf-full{
    font-size: 1.6em;
  }
  .dark .main{
    overflow: hidden;
   
  }
  .light .main{
    background-color: #0864b4;
  }
  .dark .containerSecond{
    width: 100%;
    /* background: linear-gradient(to bottom, transparent, rgb(9 17 35)); */
    background: linear-gradient(to bottom, transparent, rgb(11 40 107 / 64%), rgb(11 40 107));
    /* padding-left: 50px; */
    position: relative;
    display: flex;
    height: 440px;

    img{
      width: 320px;
      height: 320px;
      z-index: 999;
    }
  }
 .light .containerSecond {
  width: 100%;
  background: linear-gradient(to bottom, transparent, #2196F3);
  /* padding-left: 50px; */
  position: relative;
  display: flex;
  height: 440px;

   img{
      width: 320px;
      height: 320px;
      z-index: 999;
    }
}
 

  .ipt{
    background-color: rgb(18, 18, 20);
    color: white;
  }
  .sp{
    background-color: rgb(29, 29, 31);
  }




.dark .devMsg{
  width: 15em;
}
.light .devMsg{
  width: 23em;
}
















  @media screen and (min-width:1200px) {
    .root > header::before {
      transition: 0s ease;
      box-shadow: 
        220px 118px #fff, 
        280px 176px #fff, 
        40px 50px #fff, 
        60px 180px #fff, 
        120px 130px #fff, 
        180px 176px #fff, 
        220px 290px #fff, 
        520px 250px #fff, 
        400px 220px #fff, 
        50px 350px #fff, 
        10px 230px #fff,
        300px 100px #fff,
        500px 80px #fff,
        350px 300px #fff,
        450px 180px #fff,
        600px 120px #fff,
        550px 300px #fff,
        700px 200px #fff,
        150px 400px #fff,
        650px 450px #fff,
        100px 500px #fff,
        80px 600px #fff,
        370px 50px #fff,
        430px 90px #fff,
        620px 160px #fff,
        510px 330px #fff,
        670px 250px #fff,
        230px 420px #fff,
        540px 370px #fff,
        330px 450px #fff,
        310px 550px #fff,
        450px 500px #fff,
        150px 300px #fff,
        750px 200px #fff,
        800px 150px #fff,
        900px 250px #fff,
        850px 300px #fff,
        950px 400px #fff,
        800px 450px #fff,
        900px 350px #fff,
        1000px 500px #fff,
        700px 520px #fff,
        1050px 300px #fff,
        1150px 180px #fff,
        1150px 420px #fff,
        1200px 200px #fff,
        1400px 150px #fff,
        1250px 350px #fff,
        1280px 490px #fff,
        1090px 580px #fff,
        1350px 400px #fff,
        1400px 220px #fff,
        1100px 120px #fff,
        950px 100px #fff,
        1150px 50px #fff,
        1200px 300px #fff,
        1300px 180px #fff;
    }
    
    
    .groupServ {
      padding-top: 93px;
      justify-content: center !important;
  }
  }
  @media screen and (max-width:980px){
 
    /* .loader {
      font-size: 20px;
      margin-top: -14px;
      
    }
    
    .containerTyping{
      margin-bottom: 40px;
    }
    .devMsg{
      width: 100%;
      margin-right: -17%;
      padding-left: 27px;
      position: absolute;
      margin-top: 180px;
      margin-left: -36px;
    } */
     .light .devMsg,.dark .devMsg{
      width: 70%;
      
     }
     .typing-container{
      min-height: 50px;
     }
     .containerTyping{
      flex-direction: column;
      align-items: start;
      height: 40px;
      min-height: 122px;
      margin-top: 19px;
     }
  }
  

  @media screen and (max-width:760px){
    .root > header::after {
      width: 5.5em;
      height: 5.5em;
    }
    .containerTyping {
      min-height: 98px;
      margin-top: 31px;
  }
    .typing-container {
      font-size: 3.4em;
      min-height: 50px;
    }
    .loader{
      padding: 0;
      padding-top: 3px;
      font-size: 16px;
      width: 100%;
    }
    .light .card,.dark .card {
      padding: 0;
    }
    .inf-full {
      font-size: 1.5em;
  }
  .wrapper {
    width: 74% !important;
    margin-top: 94px !important;
    
  }

  }
  @media screen and (max-width:640px){
    .containerTyping {
      min-height: 128px;
      margin-top: 3px;
  }
}
  @media screen and (max-width:600px){
    .main{
      padding-left: 0px;
    }
    .root > header::after {
      width: 5.5em;
      height: 5.5em;
    }
    

    .inf-full {
      font-size: 1.5em;
  }

  
  .example-2{
    display: none !important;
  }
  .wrapper {
    width: 92% !important;
    margin-top: 53px !important;
    left: 0px;
}
.dark .containerSecond,.light .containerSecond{
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  padding-left: 10px;
  align-items: end;
  padding: 10px 20px;
  img{
    width:100px;
    height: 100px;
    z-index: 999;
  }
}
#inf {
  width: 257px;
  height: 155px;
} 
#inf .border-screen{
  border-radius: 5px;
  padding: 5px 10px;
  font-family: monospace;

  
  li{
    margin-bottom: 10px;
  }
}

#inf::before {
  width: 19px;         
  height: 31px;         
  margin-left: -21px;         
  margin-top: 51px;
}
#inf::after {
  width: 22px;
  height: 23px;
  margin-left: -31px;
  margin-top: -77px;
}
.containerTyping {
  min-height: 140px;
  margin-top: 15px;
}
.typing-container {
  font-size: 3.5em;
}
} 


@media screen and (max-width:550px) {
  .dark .containerSecond,.light .containerSecond {
    height: 579px;
    align-items: start;
    padding:  0px 20px;
  }
  .ct{
    height: 60px;
   }
}
  @media screen and (max-width:512px){
    .inf-full {
      font-size: 1.4em;
    }
    .item {
      svg {
          width: 33px;
      }
    }

  .root > header::after {
    width: 7.5em;
    height: 7.5em;
}
  }
  @media screen and (max-width:475px){
  
    .typing-container {
      font-size: 2.8em;
    }
    .inf-full {
      font-size: 1.1em;
  }
    #btn_explorer{
      margin-top: 0px; 
     }
   
  }
  @media screen and (max-width:400px){
    .inf-full {
      font-size: 1.1em;
      width: 90%;
  }
  #btn-exp{
    margin-top: 35px;
    margin-left: 7px;
  }
  }