.container_SevMini {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  height: 100%;
  width: 950px;
  margin-top:-10px;
}

.SevMini svg, .Ghost svg{
    width: 140px;
    height: auto;
   }
  .groupServ{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }
  .Ghost {
    transform: translate(0px, -50px);
    z-index: 2;
  }


  @keyframes opacidad {
    0% {
      opacity: 1;
      scale: 1;
    }
  
    50% {
      opacity: 0.5;
      scale: 0.9;
    }
  
    100% {
      opacity: 1;
      scale: 1;
    }
  }
  
  @keyframes estroboscopico {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  
    51% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes rebote {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes estroboscopico1 {
    0%,
    50%,
    100% {
      fill: rgb(255, 95, 74);
    }
  
    25%,
    75% {
      fill: rgb(16, 53, 115);
    }
  }
  
  @keyframes estroboscopico2 {
    0%,
    50%,
    100% {
      fill: #17e300;
    }
  
    25%,
    75% {
      fill: #17e300b4;
    }
  }
  
  .SevMini {
    animation: rebote 4s infinite ease-in-out;
    z-index: 3;
  }
  
  #strobe_led1 {
    animation: estroboscopico 0.5s infinite;
  }
  
  #strobe_color1 {
    animation: estroboscopico2 0.8s infinite;
  }
  
  #strobe_color3 {
    animation: estroboscopico1 0.8s infinite;
    animation-delay: 3s;
  }

.div-connector{
  display: flex;
  width: 100%;
}
#connector2{
  display: none;
}
#connector{
  width: 426px;
  height: 100%;
  margin-left: -40px;
  }
  .div-connector::after {
    content: "";
    background-color: rgb(31, 37, 47);
    width: 16px;
    height: 6px;
    margin-left: 371px;
    position: absolute;
    margin-top: 12px;
    border-radius: 11%;
    z-index: 9999;
}


  #inf{
    height: 223px;
    max-height: 302px;
    width: 500px;
    background-color:  rgb(31, 37, 47);;
    padding: 4px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: -105px;
    position: absolute;
    top: 132px;
    z-index: 3;
    box-shadow: 1px 2px 2px rgb(27 104 33);
  }
  

  
  #inf .border-screen{
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    border: 1px solid #252c2e;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: monospace;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    z-index: 9999;
    li{
      margin-bottom: 10px;
    }
  }
  .icon-inf{
    color: 
    #37bb1a;
  }


  .terminal li {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #0f0; /* Cursor */
    font-family: "Consolas", "Courier New", Courier, monospace;
    line-height: 1.5;
    width: auto;
    opacity: 0; /* Inicia invisível */
    height: auto;
}

.in-view li {
    animation: typing 2s steps(30, end) forwards, blink-caret 1s step-end 2s forwards;
}
.lm{
  margin-bottom: 0 !important;
}

/* Animação de digitação */
@keyframes typing {
    from {
        width: 0;
        opacity: 0; /* Mantém invisível até o final da digitação */
    }
    to {
        width: 100%;
        opacity: 1; /* Torna visível ao final da digitação */
        border-color: rgba(90, 98, 90, 0); /* Remove a borda ao final */
    }
    5%{
      opacity: 1;
    }
}

/* Animação de piscar do cursor */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(229, 229, 229);
    }
}

/* Delay de animação para cada item */
.terminal li:nth-child(1) {
    animation-delay: 2s;
}

.terminal li:nth-child(2) {
    animation-delay: 3s; /* Ajuste o delay com base na duração da animação de digitação */
}

.terminal li:nth-child(3) {
    animation-delay: 7s; /* Ajuste conforme necessário */
}
.terminal li:nth-child(4) {
  animation-delay: 9s; /* Ajuste conforme necessário */
}
.terminal li:nth-child(5) {
  animation-delay: 10s; /* Ajuste conforme necessário */
}
.terminal li:nth-child(6) {
  animation-delay: 11s; /* Ajuste conforme necessário */
}
/* Adicione mais regras para itens subsequentes se necessário */







.dot {
  opacity: 0;
  animation: dotFadeInOut 1.5s infinite;
  animation-iteration-count: 5;
}

@keyframes dotFadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#dot1 {
  animation-delay: 0.5s;
}

#dot2 {
  animation-delay: 0.6s;
}

#dot3 {
  animation-delay: 0.7s;
}



/*  */

  svg #back {
    stroke: rgb(31, 37, 47);
  }

  svg #front {
    stroke: rgba(19, 188, 0, 0.551);
    animation: dash_682 1.2s linear infinite;
  }
  svg #back2 {
    stroke: rgb(31, 37, 47);
  }

  svg #front2 {
    stroke: rgba(26, 180, 9, 0.729);
    animation: dash_682 1.4s linear infinite;
  }
  @keyframes dash_682 {
    72.5% {
      opacity: 0;
    }

    to {
      stroke-dashoffset: 0;
    }
  }



.curso{
  color: rgb(165 231 164);
  font-style: italic;
}

#ab{
  display: flex;
  gap: 7px;
}
/* From Uiverse.io by vinodjangid07 */ 
.signupBtn {
  width: 89px;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 7px;
  gap: 9px;
  color: white;
  background: linear-gradient(to right, rgb(104 190 108), rgb(52 185 144));
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
}

.arrow {
  position: absolute;
  right: 4.5px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.signupBtn:hover .arrow {
  animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.lmm{
  display: none;
}
  @media screen and (min-width:1100px){
    #inf {
      height: 270px;
      max-height: 302px;
      width: 555px;
      background-color: #331186;
      padding: 4px;
      border-radius: 5px;
      overflow: hidden;
      margin-right: -126px;
      position: absolute;
      top: 86px;
      z-index: 999;
  }
    
    #inf .border-screen {
      font-size: 1.4em;
  }
  }

  @media screen and (min-width:1200px){
    .div-connector::after {
      width: 33px;
      height: 9px;
      margin-left: 571px;
      margin-top: 17px;
  }
    #inf {
      height: 270px;
      width: 555px;
      margin-right: -475px;
      top: 46px;    
  }
    
    #inf .border-screen {
      font-size: 1.3em;
  }
  #connector {
    width: 626px;
    height: 100%;
    margin-left: -27px;
}
  }
  @media screen and (max-width:890px){
    .signupBtn {
      margin-top: 0px;
    }
    #connector {
      width: 368px;
      height: 100%;
      margin-left: -48px;
    }
    #inf {
      top: 145px;
      width: 451px;
      margin-right: -150px;
    }
    .div-connector::after {
      width: 26px;
      height: 9px;
      margin-left: 300px;
      margin-top: 9px;
  }
  }
  @media screen and (max-width:730px){
    #connector {
      width: 368px;
      height: 100%;
      margin-left: -48px;
    }
    #inf {
      margin-right: -102px;
      top: 175px;
      height: 200px;
      width: 385px;
    }
    #inf .border-screen {
      padding: 5px 5px;
      font-size: 16px;
    }
  .SevMini svg, .Ghost svg {
    width: 113px;
    height: auto;
  }
  #connector {
    width: 320px;
    height: 100%;
    margin-left: -41px;
  }
  .div-connector::after {
    width: 18px;
    height: 7px;
    margin-left: 265px;
    margin-top: 9px;
  }
  }
  @media screen and (max-width: 600px) {
    #inf::after {
      width: 22px;
      height: 23px;
      margin-left: -31px;
      margin-top: -77px;
    }
    #inf {
      width: 382px;
      margin-right: -150px;
      top: 149px;
      height: 207px;
    }
  }
  @media screen and (max-width:550px) {

    .div-connector::after {
      width: 18px;
      height: 7px;
      margin-left: 115px;
      margin-top: 44px;
    }
    #inf {
      width: 400px;
      margin-right: 12px;
      top: 149px;
      height: 207px;
    }
    #connector{
      display: none;
    }
    #connector2{
      display: block;
      width: 190px;
      margin-left: -34px;
    }
    .groupServ {
      margin-left: 30px;
    }
  }
  @media screen and (max-width:435px){
    #inf {
      width: 100%;
     
    }

    .lmm{
      display: block;
    }
    .lmg{
      display: none;
    }
  }
  @media screen and (max-width:395px){
    .signupBtn {
      width: 84px;
    }
    #inf .border-screen {
      font-size: 15px !important;
  }
  #inf {
    width: 100%;
    margin-right: 12px;
    top: 156px;
    height: 200px;
}
  }

  @media screen and (max-width:350px){
    .arrow {
      width: 14px;
      height: 14px;
    }
    .signupBtn {
      width: 72px;
    }
    #inf {
      width: 300px;
    }
    #inf .border-screen {
      font-size: 0.9em;
    }
    .SevMini svg, .Ghost svg {
      width: 102px;
      height: auto;
    }
    .groupServ {
      margin-left: -5px;
    }
  }