

.header {
  z-index: 2;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.981);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
.light .button .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
  border-right: none;
  border-left: var(--border-right) solid var(--animation-color);
  margin-left: -6px;
}

.logo {
  margin-top: 5px !important;
}
.logo::before{
  display: none;
  content: "";
  position: absolute;
  top: 48%;
  top: -100px;
  left: 300%;
  rotate: -43deg;
  width: 5em;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation:9s shootingStar3 ease-in-out infinite;
  animation-delay: 6s;
}
.logo::after{
  display: none;
  content: "";
  position: absolute;
  top: -50px;
  left: 246%;
  rotate: -43deg;
  width: 4em;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 12s shootingStar3 ease-in-out infinite;
    animation-delay: 0s;
  animation-delay: 6s;
}
.button::before{
  display: none;
  content: "";
  position: absolute;
  top: 48%;
  top: -167px;
  left: 300%;
  rotate: -43deg;
  width: 4em;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 12s shootingStar3 ease-in-out infinite;
  animation-delay: 8s;
}
.button::after{
  display: none;
  content: "";
  position: absolute;
  top: -50px;
  left: 288%;
  rotate: -70deg;
  width: 4em;
  height: 1px;
  background: linear-gradient(90deg, #ffffff, transparent);
  animation: 4s shootingStar3 ease-in-out infinite;
  animation-delay: 2s;
}
@keyframes shootingStar1 {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(29em) translateY(0);
    opacity: 1;
    background: linear-gradient(90deg, #f5f5f5, transparent);
  }
  70% {
    transform: translateX(43em) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  margin-right: 23px;
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

#uls > li::after{
  display: none;
}
.fw::after{
  display: none !important;
}
@media screen and (max-width: 600px) {
  .logo::before{
    display: block;
  }
  .button:before{
    display: block;
  }
  .logo::after{
    display: block;
  }
  .button {
    --fs-size: 1.5em; /* Diminui o tamanho da fonte */
    letter-spacing: 1px; /* Reduz o espaçamento entre as letras */
  }

  .ul-header a {
    display: none;
  }

  .ul-header li::after {
    display: none !important;
  }
}
