.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  transition: gap 0.5s;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.group:hover {
  gap: 0.5rem;
}

.group h1 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
}

.group:hover h1 {
  opacity: 0;
}

.group svg {
  width: 24px;
  height: 24px;
  color: #4a4a4a;
}

.group a svg {
  transition: opacity 0.2s, background-color 0.2s, box-shadow 0.2s;
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  backdrop-filter: blur(8px);
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.group a:hover svg {
  opacity: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.group a:hover svg.bg-pink {
  background-color: #cc39a4;
  color: #ffffff;
}

.group a:hover svg.bg-blue {
  background-color: #007bff;
  color: #ffffff;
}

.group a:hover svg.bg-red {
  background-color: #dc3545;
  color: #ffffff;
}

.group a:hover svg.bg-green {
  background-color: #28a745;
  color: #ffffff;
}

.group a:hover svg.bg-black {
  background-color: #000000;
  color: #ffffff;
}

.group a:hover svg.bg-blue-dark {
  background-color: #0056b3;
  color: #ffffff;
}

.group a:hover svg.bg-gray-dark {
  background-color: #343a40;
  color: #ffffff;
}
